#content
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*
    Bootstrap
*/
.BootstrapModalModal
{
    position: fixed;
}

.BootstrapModalFooter.modal-footer button
{
    margin-top: 0px;
}

.list-group-item:hover
{
    background: #eee;
    cursor: pointer;
}

/*
    Register
*/
.RegisterForm .btn
{
    margin-top: 10px;
}

/*
    Documents
*/
.DocumentBrowser .TauAjaxUpload
{
    margin-top: -10px;
    margin-bottom: 10px;
}

.DocumentBrowser .progress
{
    background-color: #337ab7;
}

.DocumentBrowser .upload_progress
{
    display: none;
}

.DocumentList
{
    margin-top: 5px;
}


tr.DocumentRow td:first-child span:first-child
{   
    max-width: 289px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 5px;
}

tr.DocumentRow td:first-child .glyphicon
{
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    margin-top: 10px;
}

tr.DocumentRow td:first-child .glyphicon-lock
{
    color: #ce4844;
}

tr.DocumentRow td:first-child .glyphicon-eye-open
{
    color: #3c763d;
}

tr.DocumentRow td:first-child .glyphicon-cog
{
    margin-left: 3px;
}

/*
    Components
*/
.DescriptorViewer
{
    margin-top: 20px;
}

.DescriptorViewer .TauAjaxADRORecord
{
    margin-bottom: 10px;
}

.DescriptorCreator button, .DescriptorCreator .BootstrapModal
{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.FieldCreator
{
    width: 500px;
}

.FieldCreator div
{
    margin-top: 10px;
}

.FieldCreator div .tauAjaxCheckbox
{
    margin-left: 10px;
    vertical-align: top;
}

.FieldList .FieldListItem
{
    list-style-type: none;
}

.FieldList .FieldListItem .list-group-item
{
    display: inline-block;
    width: 80%;
}

.FieldList .FieldListItem button
{
    vertical-align: baseline;
}

/*
    Disaggregator
 */
 
 .DescriptorPreview
 {
     margin-top: 63px;
 }
 
 .ComponentBuilder .tauAjaxPager_buttons
 {
     height: 40px;
 }

 .ComponentBuilder .tauAjaxPager_buttons button
 {
     float: right;
 }
 
 .ComponentBuilder .tauAjaxPager_buttons button.previous
 {
     float: left;
 }
 
 .BuilderStage
 {
     position: relative;
     margin-top: -34px;
     top: 34px;
     margin-left: 10%;
     width: 80%;
 }
 
 .BuilderStage .tauAjaxLabel
 {
     display: inline-block;
     margin-right: 5px;
 }
 
 .BuilderStage .BootstrapButtonGroupVertical
 {
     margin-left: 5px;
 }
 
 .BuilderStage .tauAjaxSpan.indicator
 {
     width: 20px;
     margin-left: 5px;
 }
 
 .TextStage .tauAjaxTextInput
 {
     width: 80%;
     display: inline-block;     
 }
 
 
 .FileStage .TauAjaxUpload
 {
     margin-top: -20px;
     display: inline-block;
 }
 
 .FileStage .TauAjaxUpload .progress
{
    background-color: #337ab7;
}
 
 .FileStage .tauAjaxSpan
 {
     display: inline-block;
     width: 50%;
     margin-left: 5px;
     margin-right: 5px;
     vertical-align: middle;
 }
 
 .ComponentStage .tauAjaxSpan
 {
     display: inline-block;
     width: 60%;
     vertical-align: middle;
     margin-right: 5px;
 }
 
 .ContributorStage .tauAjaxSpan
 {
     display: inline-block;
     width: 60%;
     vertical-align: middle;
     margin-right: 5px;
 }
 
 .ContributorBrowser .ContributorListItem .orcid
 {
     font-size: 0.8em;
     font-weight: bold;
 }
 
 .FinalStage a
 {
     float: right;
 }
 
 .DocumentViewer
 {
     margin-top: 10px;  
     padding-right: 10px;
     
     height: 490px;
     overflow-y: auto;
 }
 
 .DocumentViewer .caption
 {
     font-weight: bold;
     text-align: center;
 }
 
 .DocumentViewer img
 {
     width: 100%;
 }
 
 .DocumentViewer .page
 {
     width: 90%;     
     margin-left: auto;
     margin-right:auto;
 }
 
 .DocumentViewer .Loader.hexdots-loader
 {
     display: block;
     margin-top: 100px;
     margin-left: auto;
     margin-right:auto;
 }
 
 #highlighter
 {
     position: absolute;
     display: none;
     width: 40px;
     height: 40px;
     
     background: url('../tick.png');
 }
 
 .ComponentList
 {
     height: 400px;
     overflow-y: auto;
 }
 
 /*
    Overview
 */
 .DocumentOverviewUI .h3
 {
     display: block;
     width:80%;
     padding-bottom: 5px;
     border-bottom: 1px solid black;
     border-bottom-style: inset;
     cursor: pointer;
 }
 
 .DocumentOverviewUI .h3 .glyphicon
 {
     vertical-align: sub;
 }
 
 .DocumentOverviewUI .glyphicon-menu-down
 {
     display: none;
 }
 
 .DocumentOverviewUI .collapsed .glyphicon-menu-up
 {
     display: none;
 }
 
  .DocumentOverviewUI .collapsed .glyphicon-menu-down
 {
     display: inline-block;
 }
 
 /*
  * Scanners
  */
 .ScannerUI .Loader.hexdots-loader
 {
     display: block;
     margin-top: 100px;
     margin-left: auto;
     margin-right:auto;
 }
 
 tr.ScannerResultRow td:first-child
 {
     width: 70%;
 }
 
 tr.ScannerResultRow td:first-child span
 {
     width: 700px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
 }
 
 tr.ScannerResultRow .saved
 {
     cursor: default;
 }
 
  tr.ScannerResultRow .saved:hover
 {
     background-color: #5cb85c;
     border-color: #4cae4c;
 }
 
 /*
  * Redactor
  */
 .RedactorViewer .Viewable textarea
 {
     width: 100%;
     height: 100%;
 }
 
 .RedactorViewer .Viewable.redacted
 {
    border-left: 5px solid #ce4844;
    border-radius: 3px;
    padding-left: 3px;
    margin-bottom: 5px;
 }
 
 .Viewable.redacting
 {
     margin-bottom: 5px;
 }
 
 /*
    Document Editing
 */
 .DocumentUI .TauAjaxADRORecord .btn
 {
     margin-top: 5px;
 }
