#content
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*
    Bootstrap
*/
.BootstrapModalModal
{
    position: fixed;
}

.BootstrapModalFooter.modal-footer button
{
    margin-top: 0px;
}

.list-group-item:hover
{
    background: #eee;
    cursor: pointer;
}

/*
    Register
*/
.RegisterForm .btn
{
    margin-top: 10px;
}



/*
    Documents
*/
.DocumentList
{
	list-style-type: none;
	padding: 0;
}

.DocumentListItem
{
	width: 100%;
	border: 2px solid navy;

	margin-top: 10px;
	margin-bottom: 10px;
}

/*
    Components
*/
.DescriptorViewer
{
    margin-top: 20px;
}

.DescriptorViewer .TauAjaxADRORecord
{
    margin-bottom: 10px;
}

.DescriptorCreator button, .DescriptorCreator .BootstrapModal
{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.FieldCreator
{
    width: 500px;
}

.FieldCreator div
{
    margin-top: 10px;
}

.FieldCreator div .tauAjaxCheckbox
{
    margin-left: 10px;
    vertical-align: top;
}

.FieldList .FieldListItem
{
    list-style-type: none;
}

.FieldList .FieldListItem .list-group-item
{
    display: inline-block;
    width: 80%;
}

.FieldList .FieldListItem button
{
    vertical-align: baseline;
}

/*
    Disaggregator
 */
 
 .DescriptorPreview
 {
     margin-top: 63px;
 }
 
 .ComponentBuilder .tauAjaxPager_buttons
 {
     height: 40px;
 }

 .ComponentBuilder .tauAjaxPager_buttons button
 {
     float: right;
 }
 
 .ComponentBuilder .tauAjaxPager_buttons button.previous
 {
     float: left;
 }
 
 .BuilderStage .tauAjaxLabel
 {
     display: inline-block;
     margin-right: 5px;
 }
 
 .TextStage .tauAjaxTextInput
 {
     display: inline-block;
     width: 80%;
 }
 
 .DocumentViewer
 {
     margin-top: 10px;  
     
     height: 490px;
     overflow-y: auto;
 }
 
 .DocumentViewer .caption
 {
     font-weight: bold;
     text-align: center;
 }
 
 #highlighter
 {
     position: absolute;
     display: none;
     width: 40px;
     height: 40px;
     
     background: url('../tick.png');
 }
